# gradle

.gradle/
build/
out/
classes/

datagen/.gradle/
datagen/build/
datagen/out/
datagen/classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
datagen/run/
