body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.title {
  color: white !important;
  font-size: calc(2em + 2vw);
}

.subtitle {
  font-size: calc(1em + 1vw);
  color: #b5b3b7;
}

.title-section {
  box-sizing: border-box;
  text-align: center;
  background-color: #7515d6;
  /*background-image: linear-gradient(120deg, #7515d6, #9c15d6);*/
}

.body {
  display: flex;
  padding: 3rem;
  padding-top: 1rem;
}

.content div {
  color: #262525;
}

.content p {
  color: #262525;
}

.links {
  padding-left: 1rem;
}

.links a {
  font-size: 1.4rem;
  display: block;
  white-space: nowrap;
  padding-bottom: 0.4rem;
}

.links a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 5px;
  text-decoration-color: yellow;
}

.second-layer-link {
  font-size: 1em !important;
  text-decoration-thickness: 3px !important;
  padding-left: 0.5rem;
}

.status-cube {
  display: inline-block;
  margin-right: 1em;
  width: 1em;
  height: 1em;
}

.status-bar {
  text-align: right;
  display: inline-block;
  margin-left: 1em;
  flex-shrink: 10%;
  width: 75%;
  height: 1em;
}

.status-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.status-header h3 {
  font-size: calc(1.5em + 1.8vw);
  display: inline-block;
  margin-bottom: 0.1em;
  color: #202020;
}

.green {
  background-color: #54aa2f;
}
.orange {
  background-color: #f3ad15;
}
.red {
  background-color: #f11b1b;
}

.c-red {
  color: #db2024;
}
.c-blue {
  color: #1571c6;
}

.c-block {
  background-color: whitesmoke;
  max-width: 100%;
  overflow-x: auto;
}

.c-block pre {
  width: 1px;
}

@media screen and (max-width: 900px) {
  .body {
    flex-wrap: wrap;
  }
  
  .links {
    padding-left: 0px !important;
  }
  .status-header {
    flex-wrap: wrap;
  }
  .status-bar {
    display:block;
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (min-width: 64em) {
  .title-section {
    padding: 4rem 0rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .title-section {
    padding: 2rem 0rem;
  }
}
@media screen and (max-width: 42em) {
  .title-section {
    padding: 1rem 0rem;
  }
}
