name: release

on:
  release:
    types:
      - published

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/loom-cache
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Ensure gradlew is executable
        run: chmod +x gradlew


      - name: Run datagen
        run: ./gradlew runDatagen

      - name: Build mod
        run: ./gradlew build

      - name: Upload GitHub release
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'build/libs/*.jar;!build/libs/*-sources.jar;!build/libs/*-dev.jar'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Maven
        run: ./gradlew publish -PtebUsername=githubci -PtebPassword=${{ secrets.MAVEN_TOKEN }}